@import '../../global';

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 75;
    width: 80%;
    background-color: $bright-green;
    border-radius: 10px;
    margin-bottom: 50;
}

.buttonText {
    color: white;
    font-size: 28px;
    margin-right: 20px;
}

.checkMark {
    width: 30;
    height: 30;
}