.category {
    width: 100%;
    margin-left: 45px;
    justify-content: center;
    border: 1px solid black;
}

.categoryText {
    text-align: left;
    font-size: 3rem;
    font-family: 'Georgia';
    color: black;
}