.logoContainer {
    z-index: 3;
}

.logoText {
    text-align: center;
    width: 100%;
    font-size: 8rem;
    font-family: 'SnellRoundhand-Black';
    font-weight: bold;
    color: black;
}

.startButton {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    font-family: 'Georgia';
    font-weight: bold;
    color: black;
}