@import '../../global';

.wrapper {
    background-color: $dark-gray;
}

.logoContainer {
    background-color: $dark-gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer {
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ginoLogoText {
    color: $bright-green;
    font-size: 7rem;
}

.subLogoText {
    color: $dark-red;
    font-size: 2rem;
}

.startTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-gray
}

.startText {
    color: $light-gray;
    font-size: 3rem;
}