.wrapper {
    background-color: rgb(33,33,33);
}

.logoContainer {
    background-color: rgb(33,33,33);
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer {
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ginoLogoText {
    color: greenyellow;
    font-size: 7rem;
}

.subLogoText {
    color: red;
    font-size: 2rem;
}

.startTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33,33,33);
}

.startText {
    color: rgba(255, 255, 255, 0.575);
    font-size: 3rem;
}