.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.imageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0.8;
}

.background {
    height: 100%;
    width: 100%;
    background-color: #fdfaee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    z-index: 0;
}