@import '../../global';

.checkoutWrapper {
    z-index: 100;
}

.checkoutContainer {
    background-color: $bright-green;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100;
    width: 100;
    z-index: 100;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.checkoutIcon {
    height: 50;
    width: 50;
}

